<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (edit)="$event">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
